.blockquote {
  font-size: 1.3rem;
  color: $color-blockquote;
  font-weight: $font-weight--x-bold;
  padding-left: 10px;
  border-left: 10px solid $color-blockquote-border;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 80px;
}
