.grid__row {
  width: 100%;
  @include flexbox;
  margin-bottom: 50px;
  @include m(12) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include mq(medium) {
    margin-bottom: 30px;
  }
}

@for $i from 1 through $grid-col-num {
  .grid__col--#{$i} {
    width: 100%;
    @include flexbox;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: $font-family--primary;
    font-size: 1.3rem;
    color: $color-btn;
    margin-bottom: 18px;
    border-radius: 5px;
    @include mq(medium) {
      $context: ($grid-col-width * $grid-col-num) + ($grid-gutter-width * ($grid-col-num - 1));
      $target: ($grid-col-width * $i) + ($grid-gutter-width * ($i - 1));
      width: percentage($target / $context);
    }
  }
}

[class^="grid__col"] {
  @include mq(medium) {
    & + & {
      $context: ($grid-col-width * $grid-col-num) + ($grid-gutter-width * ($grid-col-num - 1));
      margin-left: percentage($grid-gutter-width / $context);
    }
  }
}


.theme__colors.grid__col {
  @include bg-color($grid-theme-colors);
}
[class^="grid__col"].theme__colors {
  justify-content: space-around;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
nav.centered {
  @include mq(medium) {
    margin-right: 0;
  }
}
