* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  font-family: $font-family--primary;
  color: $color-text;
  font-size: 1.2rem;
  font-weight: $font-weight--thin;
  padding-left: 10px;
  padding-right: 10px;
}
